.carousel {
  background-color: #b6d7c666;
  color: #575757;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #9cc9b2;
  border-radius: 25px;
}

.weddingwire,
.theknot {
  width: 1.5rem;
}
